.nav-links-gap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.navbar-toggler {
  appearance: none;
  cursor: pointer;
  width: 3.5rem;
  height: 2.5rem;
  color: white;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: white;
}

.navbar-toggler:checked {
  background-color: rgba(255, 255, 255, 0.5);
}

.top-row {
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand {
  font-size: 1.1rem;
}

.nav-item {
  font-size: 0.9rem;
  margin-bottom: 0.75rem;
}

.nav-item:first-of-type {
  padding-top: 1rem;
}

.nav-item:last-of-type {
  padding-bottom: 1rem;
}

.nav-item ::deep a {
  color: #222;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #d1d5db;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
}

.nav-item ::deep a.active {
  background: #6366f1;
  color: #fff;
  border-color: #6366f1;
}

.nav-item ::deep a:hover {
  background: #6366f1;
  color: #fff;
  border-color: #6366f1;
}

.navbar-toggler:checked ~ .nav-scrollable {
  display: block;
}

@media (min-width: 641px) {
  .navbar-toggler {
    display: none;
  }

  .nav-scrollable {
    display: block;
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
  }
}
